body {
  min-width: 320px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
  background-color: #fff;
}
/* index.html begin
/*==============================*/

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.projects {
  margin: 0;
  padding: 0;
  margin-top: 60px;

}
.projects li {
  margin: 30px 50px;
}
.projects li a {
  text-decoration: none;
  color: #000;
}
.projects li a:hover {
  color: red;
}
